.profile-btn:active {
  background-color: #27272a !important;
}
.profile-btn:focus {
  background-color: #27272a !important;
}
.profile-btn:hover.nav-pills {
  background-color: #27272a !important;
}
.profile-btn {
  border-radius: 7px;
  margin-bottom: 15px;
}
.p-talent {
  text-decoration: underline;
}
.table tbody {
  background-color: #080a12 !important;
}
.form-check-label {
  color: white;
}
.blackInput {
  background-color: black;
  border-radius: calc(1rem - 2px) !important;
  color: white !important;
  border: 1px solid #27272a;
}
input::placeholder {
  color: rgb(170, 170, 170) !important;
}
