.card-group {
  gap: 15px;
}
.card {
  background-color: #080a12 !important;
}
.card-img-top {
  -webkit-mask-image: linear-gradient(to top, transparent 1%, black 75%);
  mask-image: linear-gradient(to top, transparent 5%, black 75%);
}
.btn-card {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid white;
  border: none;
  background-color: #fafafa;
}
.btn-cardfav {
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
  border: none;
  background-color: #080a12;
}
